#example1 {
    padding: 1000px;
    background: url(bitcoin.png);
    background-repeat: no-repeat;
	background-size: 500px 500px;
}

p {
	font-style: italic;
	color: blue;
}

a {
	font-size: 2.5em;
	font-style: bold;
}

h1 {
	font-size:10vw;
	color: maroon;
}

#msg1 {
	color: red;
	background-color: yellow;
}

#msg2 {
	color: white;
	background-color: blue;
}

#info {
	font-size: 50px;
	color: marron;
	background-color: green;
}